h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.Note-1{
    background-color: #e8f5ff; width: 20%;
    text-align: center;
}
#H-P{
    text-align: center
    ;
}
.Note-2{
    font-size: larger;
    background-color: #e8f5ff; width: 20%;
}
.Note-3{
    background-color: #e8f5ff; width: 20%;
}